name: STM32 Windows CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install ARM toolchain
      run: sudo apt-get install gcc-arm-none-eabi binutils-arm-none-eabi 

    - name: Install Build Tools
      run: sudo apt-get install cmake ninja

    - name: Build Project
      run: |
        cmake -B build -G Ninja
        cmake --build build --target all

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: firmware
        path: build/*.bin