name: STM32 Windows CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install ARM GCC Toolchain
      run: |
        wget https://developer.arm.com/-/media/Files/downloads/gnu/12.3.rel1/binrel/arm-gnu-toolchain-12.3.rel1-x86_64-arm-none-eabi.tar.xz
        tar -xf arm-gnu-toolchain-*.tar.xz
        echo `pwd`/arm-gnu-toolchain-*/bin >> $GITHUB_PATH

    - name: Install Build Tools
      run: |
        choco install cmake ninja -y

    - name: Build Project
      run: |
        cmake -B build -G Ninja
        cmake --build build

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: firmware
        path: build/*.bin