name: STM32 Windows CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install ARM toolchain
      run: |
        sudo apt-get update
        sudo apt-get install gcc-arm-none-eabi binutils-arm-none-eabi 

    - name: Install Build Tools
      run: |
        sudo apt-get update
        sudo apt-get install cmake ninja-build

    - name: Verify installations
      run: |
        arm-none-eabi-gcc --version
        cmake --version
        ninja --version  # 验证 ninja-build 是否正确安装

    - name: Build Project
      run: |
        cmake -B build -G Ninja -DCMAKE_TOOLCHAIN_FILE=cmake/cortex_m3.cmake
        cmake --build build --target all

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: firmware
        path: build/*.bin